.tasklist-container {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .task-table {
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
  }
  
  .btn {
    margin-left: 5px;
  }
  
  .alert {
    margin-top: 20px;
  }
  